################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/SingletonPattern/SingletonPattern.vcxproj.user
/Proxy Pattern/x64/Debug
/Proxy Pattern/Proxy Pattern.vcxproj.user
/SingletonPattern/x64/Debug
/x64/Debug
/ProxyPattern/x64/Debug
/ProxyPattern/ProxyPattern.vcxproj.user
